.tag {
  display: flex;
  align-items: center;
  background: #ffffc6;
  border-radius: 50px 0 0 50px;
  width: 90%;
  margin-left: auto;
  gap: 10px;
}

.pokeball {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  background: radial-gradient(
      #e9f6f7 6px 8px,
      #a3713b 8px 10px,
      transparent 5px
    ),
    linear-gradient(
      to bottom,
      #fd5a60 0 20px,
      #a3713b 21px 24px,
      #e9f6f7 25px 100%
    );
  border-radius: 50%;
  border: 4px solid #a3713b;
}

.number {
  font-size: 5vw;
  color: #636363;
}

.name {
  font-family: "pokefont", sans-serif;
  font-size: 5vw;
  color: #636363;
}

.types {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.type {
  display: inline-block;
  text-align: center;
  padding: 0px 20px;
  border-radius: 5px;
  margin-right: 10px;
  height: 60px;
  outline: 3px solid #525a58;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
}


.type span {
  color: #ffffff;
  font-family: "pokefont", sans-serif;
  font-size: 4vw;
  text-shadow: -1px -1px 0 #4f534c, 1px -1px 0 #4f534c, -1px 1px 0 #4f534c,
    1px 1px 0 #4f534c;
}

.measures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  
}

.measures span {
  font-family: "pokefont", sans-serif;
  font-size: 4vw;

}
